---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre Trifecta</Fragment>
      <Fragment slot="desc">Nuestra mision es empoderar al mundo con AI</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Queremos eliminar las barreras con inteligencia artificial
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        En Trifecta, nuestro viaje comenzó con una realización simple pero profunda: las organizaciones estaban luchando para extraer el máximo valor de sus datos.
        <p class="text-lg leading-relaxed text-slate-500">
          El mundo se estaba ahogando en un océano de información, pero había una necesidad urgente de un puente, un puente que conectara el vasto potencial de los datos con ideas prácticas que pudieran impulsar el crecimiento y la innovación.
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
          Impulsados por la pasión de capacitar a las empresas para prosperar en la era digital, nos embarcamos en una misión para crear Trifecta, una solución revolucionaria que transformaría la forma en que las organizaciones interactúan con sus datos.
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
          Envisionamos un mundo donde la toma de decisiones basada en datos no fuera solo una palabra de moda, sino una realidad tangible para cada organización, independientemente de su tamaño o industria.
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
        Con Trifecta, buscamos derribar las barreras que obstaculizaban la exploración y el análisis de datos. Entendimos que el proceso tradicional de convertir manualmente consultas de texto en código ejecutable era engorroso, propenso a errores y consumía mucho tiempo.
      </p>
        <p class="text-lg leading-relaxed text-slate-500">
          Por eso desarrollamos una plataforma de transformación de consultas de vanguardia que liberaría el verdadero potencial de los datos, haciéndolos accesibles y prácticos para todos.
        </p>
        <h2 class="font-bold text-3xl text-gray-800">
          ¿No sabes programar? ¡No hay ningun problema!
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Con Trifecta, experimentarás la libertad de explorar y transformar datos sin estar limitado por obstáculos técnicos. Nuestra plataforma agiliza el proceso de transformación de consultas, ahorrándote tiempo y esfuerzo, para que puedas concentrarte en extraer ideas significativas e impulsar la innovación dentro de tu organización.
        </p>
    </div>
    </div>
  </Container>
</Layout>
