---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Gratuito",
    popular: false,
    features: [
      "Hasta 500 consultas por mes",
      "Soporte de la comunidad",
      "Acceso a documentacion",
    ],
    button: {
      text: "Empezar",
      link: "/",
    },
  },
  {
    name: "Profesional",
    price: {
      monthly: "$10",
      annual: "$120",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Hasta 5,000 consultas",
      "Acceso a soporte por correo",
      "Entrenamiento personalizado",
    ],
    button: {
      text: "¡Empieza ya!",
      link: "https://buy.stripe.com/8wM8yv6OGem1aCQ145",
    },
  },
  {
    name: "Empresa",
    price: "Adaptable",
    popular: false,
    features: [
      "Todas las features",
      "Capacitacion grupal",
      "Sin limite de consultas",
    ],
    button: {
      text: "Contactanos",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc"
        >Precios simples, sin sorpresas.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
