---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Trifecta"
  : "Trifecta | Experimenta la libertad de transformar datos sin limitarte por obstáculos técnicos";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/drive-viewer/AFGJ81rzN_6Orl8jzZB05xToYoLGPpxQio7jiJj48-O7-MKW3s9AgLS008GryO1Pdh5LYagg6lX6BpZmrBowWx1ATtGgN4GA=w1920-h917" />
    <meta property="twitter:image" content="/opengraph.jpg">
    <meta property="twitter:title" content="Trifecta">
    <meta property="og:description" content="Trifecta es una herramienta con inteligencia artificial que te permite crear codigo por medio de indicaciones." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Trifecta es una herramienta con inteligencia artificial que te permite crear codigo por medio de indicaciones."
      canonical={canonicalURL}
      twitter={{
        creator: "@jotaele_tello",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Trifecta - Experimenta la libertad de transformar datos sin limitarte por obstáculos técnicos`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "/opengraph.jpg",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
